# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Robbe Delarbre\OneDrive - UC Leuven-Limburg\Semester3\Webontwikkeling 3\Deelopdracht1\ContactTracingAppRobbeDelarbre\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
